<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card" th:each="book : ${recentBooks}">
        <div class="Card-picture"><a href="#" th:href="${book.id}" th:src="${book.image}"><img src="/assets/img/content/main/card.jpg" alt="card.jpg" /></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#" th:text="${book.title}">Техника</a>
            </strong>
            <div class="Card-description" th:text="${book.author}">Кондратенко Александр Петрович
            </div>
            <div class="Card-cost"><span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span><span
                    class="Card-price" th:text="${book.price}">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" th:attr="data-refreshshow = ${category}" data-refreshshow="recent"
                                                     data-refreshoffset="20" data-refreshlimit="20">Показать еще</a>
    </div>
</div>
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card" th:each="book : ${searchResults}">
        <div class="Card-picture"><a href="#" th:text="${book.id}"><img src="/assets/img/content/main/card.jpg" alt="card.jpg" /></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#" th:text="${book.title}">Техника</a>
            </strong>
            <div class="Card-description" th:text="${book.description}">Кондратенко Александр Петрович
            </div>
            <div class="Card-cost"><span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span><span
                    class="Card-price" th:text="${book.price}">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" th:attr="data-refreshshow = ${category}"
                                                     data-refreshshow="popular" data-refreshoffset="0" data-refreshlimit="5"
                                                        th:attr="data-refreshquery=${searchWordDto.example}">Показать еще</a>
    </div>
</div>
</html>